@page "/fetchdata"

<PageTitle>Aktiviteter</PageTitle>

@using BandydosWeb.Data
@using SportPlanner.ModelsDto
@inject EventService EventService

<h1>Aktiviteter</h1>

<p>Kommande aktiviteter.</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>På/av</th>
                <th>Datum</th>
                <th>Aktivitet</th>
                <th>Närvaro</th>
                <th>Plats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in events)
            {
                <tr>
                    <td><input type="checkbox" disabled=@isBusy checked=item.UserIsAttending @onchange="e => SwitchUserAttending(item)"/></td>
                    <td>@item.Date</td>
                    <td>@item.EventType</td>
                    <td>@item.Attending av @item.Invited</td>
                    <td>@item.Address.FullAddress</td>
                </tr>
            }
        </tbody>
    </table>
}